body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

.top-banner {
    width: 1000px;
    height: 446px;
    background-color: #161616;
    margin-left: 120px;
    margin-top: 30px;
    display: flex;
    border-radius: 30px;
    padding: 50px;
}

.first-title {
    font-size: 40px;
    font-weight: 800;
}

.banner img {
    padding-left: 100px;
    height: 100%;

}

.watch-btn {
    background-color: red;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.first-acr {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.fa-solid {
    color: white;
    padding-left: 10px;
    font-size: 20px;

}

.banner {
    width: 50%;
    color: white;
}

/* blogs */

.second-banner {

    margin-top: 90px;
    margin-left: 112px;
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */

}

.select-btn {
    display: grid;
    grid-template-columns: repeat(1 1fr);
    width: 16%;
    height: 250px;
    border-radius: 10px;
    background-color: black;
    padding: 15px;
    margin-right: 10px;
}

.btn {
    padding: 15px;
    font-size: 15px;
    font-weight: 900px;
    margin: 10px;
    border-radius: 10px;
}

#match {
    text-decoration: none;
    color: black;
}

#red-btn {
    background-color: red;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 200px;


}

.blog img {
    width: 100%;
    border-radius: 2px;
}

.blog {
    width: 280px;
    margin: 7px;
    border-radius: 4px;
    border: 1px;
    box-shadow: 1px 1px 1px 1px #888888;
}

.blog-title {
    margin-left: 20px;
}

.blogs-icon {
    display: flex;
    justify-content: space-around;
    margin-top: -5px;
}

.blog-btn {
    margin-top: 10px;
    ;


}

/* footer */

footer {
    color: white;
    background-color: black;
    width: 1600ps;
    height: 440px;
    /* width: 1215px; */
    text-align: center;

}

.goal {
    margin-top: 70px;
    padding: 70px;
}

.footer-title {
    margin-left: 25px;
    padding: 50px;
    margin-bottom: 20px;
}

.ancor {
    margin-right: 30px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 25px;


}

.social-link {
    padding: 20px;
}

.fa-brands {
    font-size: 25px;

}

/* ----------
small Device
--------- */

@media screen and (max-width: 576px) {
    body {
        margin: 0;
    }

    .top-banner {
        width: 100%;
        margin: 0px;
        height: 100%;
        flex-direction: column;
        padding: 20px;
        align-items: center;
    }


    .banner img {
        margin-top: 10px;
        width: 100%;
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        margin-left: -70px;

    }

    .blog {
        width: 100%;

    }

    .blog img {
        width: 100%;
    }

    .second-banner {
        width: 100%;
        display: grid;

    }

    .select-btn {
        background-color: white;
        margin-left: 40px;

    }

    .btn {
        width: 170px;
    }

    footer {
        margin: 0;
        width: 100%;
        height: 100%;

    }

    .footer-title {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

/* ------
Medium Device
---------- */

@media screen and (min-width:577px) and (max-width:992px) {



    .top-banner {
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }

    .second-banner {
        width: 100%;
        display: grid;

    }

    .select-btn {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* width: 170px; */
        margin-left: 130px;
        /* margin-right: 60px; */
        height: 50px;
        background-color: white;
        border-radius: 10px;

    }

    .btn {
        width: 170px;
    }


    .blogs {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 50px;
        width: 100%;
        margin-left: 10px;
    }

    .banner img {
        width: 70%;
    }

    .top-banner {
        width: 100%;
    }

    footer {
        width: 100%;
        height: 100%;
    }
}